{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^@nestjs/(.*)$",
    "^rxjs/(.*)$",
    "^mongoose/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderCaseInsensitive": true
}
